.marquee {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 200%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    animation: marquee 5s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        left: 125%;
    }
    100% {
        left: -100%;
    }
}